<tr>
  <td><%= layer %></td>
  <td>
    <input id="l<%= layer %>_thickness" type="float">
  </td>
  <td>
    <input id="l<%= layer %>_module" type="float">
  </td>
  <td>
    <input id="l<%= layer %>_poisson" type="float">
  </td>
  <td>
    <input id="l<%= layer %>_n" type="float" <%= disabled %>>
  </td>
  <td>
    <input id="l<%= layer %>_f" type="float" <%= disabled ? "" : "disabled" %>>
  </td>
  <td>
    <input id="l<%= layer %>_he" type="float" disabled>
  </td>
  <td>
    <input id="l<%= layer %>_fhe" type="float" disabled>
  </td>
</tr>