<tr>
  <td><%= layer %></td>
  <td>
    <input id="l<%= layer %>_thickness" type="number">
  </td>
  <td>
    <input id="l<%= layer %>_module" type="number">
  </td>
  <td>
    <input id="l<%= layer %>_poisson" type="number">
  </td>
  <td>
    <input id="l<%= layer %>_n" type="number" <%= disabled %>>
  </td>
  <td>
    <input id="l<%= layer %>_f" type="number">
  </td>
  <td>
    <input id="l<%= layer %>_he" type="number" disabled>
  </td>
  <td>
    <input id="l<%= layer %>_fhe" type="number" disabled>
  </td>
</tr>