<tr>
  <td><%= title %></td>
  <td>
    <input type="number" id="d1_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d2_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d3_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d4_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d5_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d6_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d7_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d8_<%= id %>" <%= disabled %>>
  </td>
  <td>
    <input type="number" id="d9_<%= id %>" <%= disabled %>>
  </td>
</tr>
