<tr>
  <td><%= title %></td>
  <td>
    <input type="float" id="sensor_<%= id %>_d1" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d2" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d3" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d4" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d5" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d6" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d7" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d8" <%= disabled %>>
  </td>
  <td>
    <input type="float" id="sensor_<%= id %>_d9" <%= disabled %>>
  </td>
</tr>
