<link rel="stylesheet" href="/css/form.css" />
<div class="flex" id="form">
  <aside class="border-r-2 border-gray-400 font-montserrat w-2/6 max-md:hidden">
    <div class="grid grid-cols-2 border-b-2 border-gray-400">
      <%- include("../components/change_button", {message: "¿Qué es?", id: "info", className: "selected"}) %>
      <%- include("../components/change_button", {message: "Configuración", id: "components", className: null}) %>
    </div>
    <div class="px-4 py-4">
      <%- include("../components/information.ejs") %>
      <%- include("../components/configuration.ejs") %>
    </div>
  </aside>
  <form action="/upload_file" method="POST" enctype="multipart/form-data" class="h-screen p-4 w-screen flex gap-10 max-md:flex-col max-md:items-center">
    <div class="w-2/3 flex max-xl:flex-col gap-20 xl:justify-evenly max-xl:items-center">
      <%- include ('../components/label.ejs', {input_form: 'file_upload_input', type: 'file'})%>
      <input type="file" id="file_upload_input" name="file" accept=".csv, .xlsx, .xls" onchange="show_second()" />
      <%- include ('../components/label.ejs', {input_form: 'file_upload_input_2', type: 'hidden'})%>
      <input type="hidden" id="file_upload_input_2" name="file" accept=".csv, .xlsx, .xls" />
    </div>

    <div class="md:w-1/3 md:border-l-2 border-solid border-imt-dark flex flex-col items-center align-bottom -my-4 py-4">
      <div class="grid grid-cols-2 gap-2 ml-5">
        <label>Diferencia para seleccionar puntos singulares</label>
        <input required type="float" id="singular_points" name="singular_points" class="mb-5 border-2 border-gray-400 border-solid w-2/3 h-7 mx-auto" placeholder="2.5" />
        <label>Diferencia para unir segmentos adyacentes</label>
        <input required type="float" id="join_segments" name="join_segments" class="mb-5 border-2 border-gray-400 border-solid w-2/3 h-7 mx-auto" placeholder="0.25" />
        <label>Longitud de la media móvil</label>
        <input required type="number" id="moving_avg" name="moving_avg" class="mb-5 border-2 border-gray-400 border-solid w-2/3 h-7 mx-auto" placeholder="1000" />
        <label>Metros en que fue medido el parámetro</label>
        <input required type="number" id="distance" name="distance" class="mb-5 border-2 border-gray-400 border-solid w-2/3 h-7 mx-auto" placeholder="20" />
      </div>
      <div class="flex gap-2 justify-between my-2 w-full pl-4 pr-8">
        <div class="mb-5">
          <label class="switch">
            <input type="checkbox" id="percentile-avg" />
            <span class="slider round"></span>
          </label>
          <label id="percentile-label">Media</label>
        </div>
        <input required type="hidden" id="percentil" name="percentil" class="border-2 border-gray-400 border-solid w-1/3 h-7" />
      </div>

      <%- include('../../components/atoms/button', {text: 'Enviar'}) %>
      <p id="error_message" class="text-red-600 hidden">
        Error: Ingresa por lo menos un archivo
      </p>
      <p class="hidden bg-red-600 hover:bg-red-700"></p>
    </div>
  </form>
</div>

<script src="/js/upload_files.js"></script>