<div id="<%= id %>_form" class="<%= show || 'hidden'%>">
  <h1 class="mb-4 w-full text-center"><%= name %></h1>
  <div class="grid grid-cols-2 gap-2 ml-5">
    <%- include("./iri_form_molecule") %>
  </div>
  <div class="flex gap-2 justify-between my-2 w-full pl-4 pr-8">
    <%- include("../../atoms/switch_media_percentile") %>
  </div>
</div>