<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield;
  }

  table,
  th,
  td {
    border: 2px solid black;
    padding: 0;
    margin: 0;
  }
  input {
    width: 100%;
  }

  input:disabled {
    background-color: #ddd;
    margin: 0;
    padding: 0;
  }
</style>

<form action="" class="flex gap-5 w-11/12 mx-auto mt-2">
  <div class="w-1/2">
    <div class="flex">
      <%- include("./general_input.ejs") %>
      <div class="w-1/3">
        <%- include("../../atoms/generic_button.ejs", {text: "Limpiar", id: "clean"}) %>
        <%- include("../../atoms/generic_button.ejs", {text: "Ejecutar", id: "test"}) %>
      </div>
    </div>
    <br class="mt-10" />
    <%- include("./input_layers.ejs") %>
    <br class="mt-10" />
    <%- include("./input_sensors.ejs") %>
    
    <br class="mt-5" />
    <%- include("./result.ejs") %>
    <br class="mb-10">
  </div>
  
  <div class="w-1/2 flex flex-col h-screen">
    <div id="radial-chart" class="h-1/2"></div>
    <div id="superficial-chart" class="h-1/2"></div>
  </div>
</form>

<script src="/js/retrocalculus/copy_paste.js"></script>
<script src="/js/retrocalculus/layer_table.js"></script>
<script src="/js/retrocalculus/sensor_table.js"></script>
<script src="/js/retrocalculus/layer_analysis.js"></script>
<script src="/js/retrocalculus/layer_1.js"></script>
<script src="/js/retrocalculus/layer_2.js"></script>
<script src="/js/retrocalculus/layer_3.js"></script>
<script src="/js/retrocalculus/radial_chart.js"></script>
<script src="/js/retrocalculus/superficial_chart.js"></script>
