<div id="configuration_module" class="hidden">
  <div class="flex flex-col configuration_container">
    <%- include ("../atoms/configuration_option.ejs", {id: "iri", checked: ""}) %>
    <%- include ("../atoms/configuration_option.ejs", {id: "friccion", checked: ""}) %>
    <%- include ("../atoms/configuration_option.ejs", {id: "deflexiones", checked: ""}) %>
    <%- include ("../atoms/configuration_option.ejs", {id: "agretamiento_por_fatiga", checked: ""}) %>
    <%- include ("../atoms/configuration_option.ejs", {id: "agrietamiento_longitudinal", checked: ""}) %>
    <%- include ("../atoms/configuration_option.ejs", {id: "agrietamiento_transversal", checked: ""}) %>
    <%- include ("../atoms/configuration_option.ejs", {id: "profundidad_rugosidad", checked: ""}) %>

  </div>
</div>