<div class="flex gap-2">
  <input type="checkbox" id="<%= id %>" name="selected_configuration" value="<%= id %>" <%= checked %>>
  <p id="label_<%= id %>" class="cursor-pointer"><%= id[0].toUpperCase() + id.slice(1) %></p>
</div>