<label><%= label %></label>
<input required type="<%= type %>" id="<%= id %>" name="<%= id %>" class="mb-5 border-2 border-gray-400 border-solid w-2/3 h-7 mx-auto <%= input_class_id %>" placeholder="<%=placeholder%>" value="<%= placeholder %>" />