<form action="/upload_file" method="POST" enctype="multipart/form-data" id="<%= id+"_form" %>" class="<%= show ? '' : 'hidden' %> h-screen w-full flex gap-10 max-md:flex-col max-md:items-center">
  <div class="flex flex-col items-center align-bottom -my-4 py-4 w-full">
    <h1 class="mb-4"><%= name %></h1>

    <div class="grid grid-cols-2 gap-2 ml-5">
      <%- include ("../atoms/two_column_input.ejs", {label: 'Segmentación mínima', type: "float", id: 's_homogenous_input_param', placeholder: 1000}) %>
    </div>

    <%- include('../../components/atoms/button', {name: "send", text: 'Enviar'}) %>
    <p id="error_message" class="text-red-600 hidden text-sm mt-2 pl-2">
    </p>
    <p class="hidden bg-red-600 hover:bg-red-700"></p>
  </div>
</form>