<link rel="stylesheet" href="/css/form.css" />
<div class="flex" id="form_selection">
  <aside class="border-r-2 border-gray-400 font-montserrat w-3/5 max-md:hidden">
    <nav class="grid grid-cols-3 border-b-2 border-gray-400">
      <%- include("../components/atoms/change_button", {message: "¿Qué es?", id: "component_info", className: "selected"}) %>
      <%- include("../components/atoms/change_button", {message: "¿Como se usa?", id: "component_como_usar", className: null}) %>
      <%- include("../components/atoms/change_button", {message: "Variables", id: "component_components", className: null}) %>
    </nav>
    <section class="px-4 py-4">
      <%- include("../molecules/information.ejs") %>
      <%- include("../molecules/como_usar.ejs") %>
      <%- include("../molecules/configuration.ejs") %>
    </section>
  </aside>
  <div class="w-4/5 flex">
    <div class="w-3/5 flex justify-center">
      <%- include ("../molecules/file_upload") %>
    </div>
    
    <div class="w-full">
        <aside class="border-l-2 border-gray-400">
          <%- include("../organism/form.ejs") %>
        </aside>
    </div>
  </div>
</div>

<script src="/js/upload_files.js"></script>
<script src="/js/params_s_homogenous.js"></script>